table {
    border-collapse: collapse;
    border-spacing: 1%;
    width: 100%;
    border: 5px solid #ddd;
}

th, td {
    text-align: left;
    padding: 5px 32px;
}

tr:nth-child(even) {
    background-color: #ADD8E6
} 

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-style: normal
}